#cartData {
      display: flex;
      flex-wrap: wrap;
      width: 60vw;
      margin: 150px auto;
      gap: 30px;

}

#imagePart {
      height: 320px;
      width: 450px;
      border-radius: 10px;
      background: url(http://www.psdgraphics.com/file/world-map-background.jpg) no-repeat center center;
      background-size: cover;
      color: #fff;
      padding: 0px 20px;
      /* flex: 1 1 400px; */

}

.credit__bank {
      font-size: 24px;
      font-weight: bold;
}

.credit__mc {
      width: 80px;
      float: right;
}

.credit__card-number {
      height: 30px;
      font-weight: 600;
      font-size: 1.4rem;
      letter-spacing: 2px;

}

.credit__name,
.credit__ccv,
.credit__date {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 16px;
      height: 25px;



}

.credit__name {
      width: 220px;
}

.credit label {
      color: #fff;
}

#creditCartFillData {
      display: flex;
      gap: 40px;
}


/*  ```           INPUT PART        `````````          */

#inputPart {
      border: 1px solid slategrey;
      width: 450px;
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      border-radius: 15px;
      padding: 20px;
}
input{
      padding:0px 8px;
}
.btnDiv{
      text-align: center;
      display: flex;
      justify-content: center;
}

@media (min-width:600px) and (max-width:1800px){
      #cartData{
            width: 98vw;
      }

}